/* Services Section */
.services {
    padding: 40px 0;
    text-align: center;
    background-color: #fff;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .service-grid {
        grid-template-columns: 1fr; /* Single column on small screens */
    }
}

.service-item {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.service-item:hover {
    transform: translateY(-10px);
}

.service-item i {
    font-size: 2.5rem;
    color: #0779e4;
    margin-bottom: 15px;
}

/* Gallery Section */
.gallery {
    padding: 40px 0;
    text-align: center;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.05);
}

/* Contact Section on Home Page */
.contact {
    padding: 80px 0;
    background: linear-gradient(45deg, #0779e4, #00c6ff);
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .contact-container {
        grid-template-columns: 1fr; /* Single column on small screens */
    }
}

.contact-form h2,
.contact-info h3 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #aaa;
}

.contact-form .btn {
    width: 100%;
    padding: 15px;
    background-color: #0779e4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.contact-form .btn:hover {
    background-color: #055aab;
}

.contact-info p {
    margin-bottom: 30px;
    color: #555;
}

.contact-info ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
    color: #555;
}

.contact-info ul li {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.contact-info ul li i {
    font-size: 1.2rem;
    margin-right: 15px;
    color: #0779e4;
}

.social-links a {
    color: #333;
    font-size: 1.5rem;
    margin-right: 15px;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #0779e4;
}

.hero {
    background: url('../images/welcome.png') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh; /* Adjust as needed */
    animation: zoom-in-out 10s;
}

.hero-content h1 {
    font-size: 3.5rem;
    margin-bottom: 15px;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.hero-content .btn {
    background-color: #0779e4;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

.hero-content .btn:hover {
    background-color: #055aab;
}

.hero-buttons {
    margin-top: 30px;
    display: flex;
    gap: 20px; /* Space between buttons */
    justify-content: center;
}

.btn-primary {
    background-color: #453db6 !important; /* Blue */
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #055aab !important;
}

.btn-secondary {
    background-color: #9ba3a2 !important; /* Yellow */
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #767387 !important;
}

@keyframes zoom-in-out {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-content {
    animation: slide-up 1s ease-out;
}
